.coming-soon-message {
  position: fixed;
  inset: 0;
  width: 70vw;
  height: 100vh;
  background-color: whitesmoke;
  z-index: 1;
  @media (max-width: 918px) {
    position: relative;
  }
}

.scroll-image {
  position: fixed;
  inset: 0;
  width: 30vw;
  height: 100vh;
  background-image: url("../images/slideImage.png");
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  z-index: 2;
  @media (max-width: 918px) {
    position: relative;
    width: 100vw;
  }
}

.pink-div {
  position: fixed;
  top: 0;
  right: 0;
  width: 70vw;
  height: 100vh;
  background-color: #e2cec6;
  z-index: 2;
  @media (max-width: 918px) {
    position: relative;
    width: 100vw;
  }
}

.form-panel {
  background-color: whitesmoke;
  position: fixed;
  top: 0;
  right: 0;
  width: 100vw;
  height: 100vh;
  z-index: 3;
  @media (max-width: 918px) {
    position: relative;
  }
}

.fifth-section {
  height: 200vh;
  @media (max-width: 918px) {
    height: 100vh;
  }
}
.fourth-section {
  height: 300vh;
  @media (max-width: 918px) {
    height: 100vh;
  }
}

.last-panel {
  background-image: url("../images/hero.png");
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  position: fixed;
  top: 0;
  bottom: 0;
  z-index: 100;
  min-height: 100vh;
  min-width: 100vw;
  width: 100vw;
  height: 100vh;
  @media (max-width: 918px) {
    position: relative;
  }
}

main {
  position: relative;
}

.background-image {
  background-image: url("../images/hero.png");
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 100vh;
  min-width: 100vw;
  width: 100%;
  height: 100%;
  position: fixed;
  inset: 0;
  z-index: -1;
  @media (max-width: 918px) {
    position: absolute;
    min-height: 200vh;
  }
}

section {
  height: 100vh;
  width: 100%;
  // border: 1px solid red;
  margin-bottom: 160px;
  @media (max-width: 918px) {
    margin-bottom: 0px;
  }
}

.third-section {
  height: 200vh;
}

